@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.film-roll-container {
    position: sticky;
    top: 20vh;
}
@font-face {
  font-family: 'Matrixtype';
  src: url('./Matrixtype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* body, .matrix-font {
  font-family: 'Share Tech Mono', monospace !important;
  color: #00ff41 !important;
  background: #000 !important;
} */

.matrix-glow {
  text-shadow: 0 0 8px #00ff41, 0 0 2px #00ff41;
}

.matrix-border {
  border-color: #00ff41 !important;
}