@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.film-roll-container {
    position: sticky;
    top: 20vh;
}
@font-face {
  font-family: 'Sekaiwo';
  src: url('/fonts/SekaiwoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}